<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    <head th:replace="~{layout/plantilla :: head}">
        <title>Practica01</title>
    </head>
    <body class="bg-light">

        <section th:fragment="listadoMedicamentos" class="container mt-4">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center mb-4 text-success">Listado de Medicamentos</h2>
                    <table class="table table-hover table-bordered shadow-sm">
                        <thead class="table-success">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="medicamento, contador : ${medicamentos}">
                                <td>[[${contador.count}]]</td>
                                <td>[[${medicamento.nombre}]]</td>
                                <td>[[${medicamento.descripcion}]]</td>
                                <td>[[${medicamento.precio}]]</td>
                                <td>[[${medicamento.stock}]]</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </body>
</html>
