<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <link rel="stylesheet" th:href="@{/css/estilos.css}">    
            <title>Examen</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}" class="header-centrado">
            <h1 class="texto-centrado">Examen</h1>
        </header>

        <br>
        <div style="text-align: center">
        <h1 style="text-align: center;">Sobre nosotros:</h1>
        <br>
        <h4>En Farmacia Examen, nos dedicamos a ofrecer productos farmacéuticos de la más alta calidad y brindar un servicio excepcional a nuestros clientes. Con más de 10 años de experiencia en el sector, somos una farmacia comprometida con la salud y el bienestar de nuestra comunidad.

            Contamos con un equipo de profesionales altamente capacitados que se esfuerzan por proporcionar asesoramiento personalizado, garantizando que cada cliente reciba la atención que necesita. Ya sea que busques medicamentos recetados, productos de cuidado personal o suplementos nutricionales, en nuestra farmacia encontrarás lo que necesitas con la confianza de estar comprando en un lugar seguro y confiable.

            Nos enorgullece ofrecer un ambiente cómodo y accesible, donde cada cliente puede sentirse bienvenido y atendido. Además, trabajamos con los mejores proveedores para asegurar que nuestros productos sean de la más alta calidad y estén siempre disponibles.

            En Farmacia Examen, nuestra misión es cuidar de ti y de tu familia, ofreciendo productos de calidad y un servicio amable que te ayude a tomar las mejores decisiones para tu salud.

            ¡Visítanos y permítenos ser parte de tu camino hacia una vida más saludable!</h4> </div>
        <br>
  
        <footer class="footer-estilizado">
            <p>&copy; 2025 Farmacia Examen 1. Todos los derechos reservados.</p>
        </footer>
    </body>
</html>